<div class="container-fluid">
  @if (user?.subscription?.type === 'Basic') {
    <div class="align-items-center d-flex justify-content-end mb-2">
      <gf-premium-indicator />
    </div>
  }
  <div class="row">
    <div class="col-12">
      <gf-benchmark
        [benchmarks]="watchlist"
        [deviceType]="deviceType()"
        [hasPermissionToDeleteItem]="hasPermissionToDeleteWatchlistItem"
        [locale]="user?.settings?.locale || undefined"
        [user]="user"
        (itemDeleted)="onWatchlistItemDeleted($event)"
      />
    </div>
  </div>
</div>
@if (!hasImpersonationId && hasPermissionToCreateWatchlistItem) {
  <div class="fab-container">
    <a
      class="align-items-center d-flex justify-content-center"
      color="primary"
      mat-fab
      [queryParams]="{ createWatchlistItemDialog: true }"
      [routerLink]="[]"
    >
      <ion-icon name="add-outline" size="large" />
    </a>
  </div>
}
